.slide-background:first-child
   background: url(../images/clint.jpg) repeat

section.title *
  color: #383d3d !important

img.plain
  border: none !important
  background-color: transparent !important
